.input-file{
  background-color: #f8f9fc;
  border: 1px solid #e2e9f3;
  border-radius: 4px;
  height: 40px;
  width: 100%;
  color: #5e72e4;
}
.input-file::file-selector-button{
  border-radius: 4px;
  color: white;
  background-color: #5e72e4;
  border: 1px solid #5e72e4;
  height: 40px;
  cursor: pointer;
  transition: all .25s ease-in;
}
.input-file::file-selector-button:hover{
  background-color: #fff;
  color: #5e72e4;
  transition: all .25s ease-in;
}


