.div-center {
  align-items: center;
  align-content: center;
  text-align: center;
  margin: auto;
}

.button-modal {
  text-align: center;
  width: auto;
  padding: 0.5em;
}

.text-green {
  color: #0ab988;
}

.text-red {
  color: #e11f5a;
}

.text-gray {
  color: #7b7b7b;
}

.effect {
  transition: all 0.3s ease;
}

.div-form{
  width: 50%;
}

