.div-center {
  align-items: center;
  align-content: center;
  text-align: center;
  margin: auto;
}

.font-size-30 {
  font-size: 30px;
}

.font-size-12 {
  font-size: 12px;
}

.btn-close {
  border: none;
  background-color: transparent;
  font-size: 20px;
}

.btn-close:hover {
  color: var(--red)
}

.button-modal {
  text-align: center;
  width: auto;
  padding: 0.5em;
}

.div-buscar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-green {
  color: #0ab988;
}

.text-red {
  color: #e11f5a;
}

.text-gray {
  color: #7b7b7b;
}

.effect {
  transition: all 0.3s ease;
}

.padding-formulario{
  padding: 0 1rem 0 1rem;
}

