<div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row">
        <div class="div-center">
          <h1 class="text-white font-size-30">Tabla de parámetro valor</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <button class="btn btn-lg btn-outline-primary" (click)="openRegister(content_formulario)">Registrar Parámetro
          </button>
        </div>
        <div class="form-group div-buscar" id="form-group_buscar">
          <div class="input-group input-group-alternative d-flex">
            <div class="input-group-prepend m-2">
            </div>
            <input (keyup)="applyFilter($event)" placeholder="Filtrar" class="form-control">
          </div>
        </div>

        <table [dataSource]="this.dataSource" class="" matSort mat-table>
          <ng-container matColumnDef="Tipo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="">Tipo</th>
            <td mat-cell *matCellDef="let element">{{element.tipo}}</td>
          </ng-container>

          <ng-container matColumnDef="Celda">
            <th mat-header-cell *matHeaderCellDef>Celda</th>
            <td mat-cell *matCellDef="let element">{{element.celda}}</td>
          </ng-container>

          <ng-container matColumnDef="Columna">
            <th mat-header-cell *matHeaderCellDef>Columna</th>
            <td mat-cell *matCellDef="let element">{{element.columna}}</td>
          </ng-container>

          <ng-container matColumnDef="Tipo de dato">
            <th mat-header-cell *matHeaderCellDef>Tipo de dato</th>
            <td mat-cell *matCellDef="let element">{{tipoDeDatoTabla(element.tipoDato)}}</td>
          </ng-container>

          <ng-container matColumnDef="Valor permitido">
            <th mat-header-cell *matHeaderCellDef>Valor permitido</th>
            <td mat-cell *matCellDef="let element">{{element.valorPer}}</td>
          </ng-container>

          <ng-container matColumnDef="Formato">
            <th mat-header-cell *matHeaderCellDef>Formato</th>
            <td mat-cell *matCellDef="let element">{{element.formatoArchivo.descripcion}}</td>
          </ng-container>


          <ng-container matColumnDef="Acciones">
            <th mat-header-cell *matHeaderCellDef>Acciones</th>
            <td mat-cell *matCellDef="let element">
              <span _ngcontent-c14="" class="badge badge-dot mr-4">
                <i _ngcontent-c14=""
                   class="{{element.estado === 'A' ? 'bg-success' :'bg-warning'}}"></i> {{element.estado === 'A' ? 'Activo' : 'Inactivo'}} </span>

              <div ngbDropdown placement="bottom-right">
                <a class="btn btn-sm btn-icon-only text-light" ngbDropdownToggle>
                  <i class="fas fa-ellipsis-v"></i>
                </a>
                <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                  <span (click)="cambiarEstado(element.id, content_estado, content_mensaje, content_estado_resultado)"
                        class="dropdown-item">Cambiar estado</span>
                  <span (click)="openUpdate(content_formulario, element)" class="dropdown-item">Editar</span>
                </div>
              </div>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>

        <mat-paginator
          [pageSizeOptions]="[5, 10, 20]"
          showFirstLastButtons
        ></mat-paginator>
      </div>
    </div>
  </div>
</div>

<ng-template #content_formulario let-modal>
  <div class="effect">
    <div class="modal-header">
      <h2 class="modal-title">Formulario</h2>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')">X</button>
    </div>
    <form class="padding-formulario"
          (submit)="eventoParVal['estado'] === 'R' ? registrarParVal($event, content_completado, content_mensaje)
        : actualizarParVal($event, content_completado, content_mensaje)">
      <div class="row">
        <div class="form-group col-md-6" id="from_group_tipo">
          <label for="tipo">Tipo <span class="text-red">*</span></label>
          <select class="form-control" id="tipo">
            <option value="0">Seleccióne...</option>
            <option
              [selected]="eventoParVal['estado'] === 'U' ? eventoParVal['parVal']['tipo'] ===  tipo: false"
              *ngFor="let tipo of listaTipo" value="{{tipo}}">{{tipo}}</option>
          </select>
          <span class="text-red font-size-12" id="text_tipo"></span>
        </div>
        <div class="form-group col-md-6" id="from_group_tipoDato">
          <label for="tipo">Tipo de dato <span class="text-red">*</span></label>
          <select class="form-control" id="tipoDato">
            <option value="0">Seleccióne...</option>
            <option
              [selected]="eventoParVal['estado'] === 'U' ? eventoParVal['parVal']['tipoDato'] ===  tipoDato['valor']: false"
              *ngFor="let tipoDato of listTipoDato" value="{{tipoDato['valor']}}">{{tipoDato['nombre']}}</option>
          </select>
          <span class="text-red font-size-12" id="text_tipoDato"></span>
        </div>
        <div class="form-group col-md-6" id="from_group_celda">
          <label for="tipo">Celda <span class="text-red">*</span></label>
          <input type="text" class="form-control" id="celda" placeholder="Celda"
                 [defaultValue]="eventoParVal['estado'] === 'U'?
                   eventoParVal['parVal']['celda'] === null ? '': eventoParVal['parVal']['celda'] : ''">
          <span class="text-red font-size-12" id="text_celda"></span>
        </div>
        <div class="form-group col-md-6" id="from_group_columna">
          <label for="tipo">Columna <span class="text-red">*</span></label>
          <input type="text" class="form-control" id="columna" placeholder="Columna"
                 [defaultValue]="eventoParVal['estado'] === 'U'?
                  eventoParVal['parVal']['columna'] === null ? '': eventoParVal['parVal']['columna'] : ''">
          <span class="text-red font-size-12" id="text_columna"></span>
        </div>
        <div class="form-group col-md-6" id="from_group_valorPer">
          <label for="tipo">Valor permitido <span class="text-red">*</span></label>
          <input type="text" class="form-control" id="valorPer" placeholder="Valor permitido"
                 [defaultValue]="eventoParVal['estado'] === 'U'? eventoParVal['parVal']['valorPer']: ''">
          <span class="text-red font-size-12" id="text_valorPer"></span>
        </div>
        <div class="form-group col-md-6" id="from_group_expreSql">
          <label for="tipo">Expreción Sql <span class="text-red">*</span></label>
          <input type="text" class="form-control" id="expreSql" placeholder="Expreción Sql"
                 [defaultValue]="eventoParVal['estado'] === 'U'? eventoParVal['parVal']['expreSql']: ''">
          <span class="text-red font-size-12" id="text_expreSql"></span>
        </div>
        <div class="form-group col-md-12" id="from_group_formatoArchivo">
          <label for="tipo">Formato <span class="text-red">*</span></label>
          <select class="form-control" id="formatoArchivo">
            <option value="0">Seleccióne...</option>
            <option
              [selected]="eventoParVal['estado'] === 'U' ? eventoParVal['parVal']['formatoArchivo']['id'] ===  formatoArchivo.id: false"
              *ngFor="let formatoArchivo of formatos"
              value="{{parse(formatoArchivo)}}">{{formatoArchivo.descripcion}}</option>
          </select>
          <span class="text-red font-size-12" id="text_formatoArchivo"></span>
        </div>
      </div>
      <div class="modal-footer col-md-12">
        <input type="submit" class="btn btn-primary" id="btn_form"
               value="{{eventoParVal['estado'] === 'R' ? 'Guardar' : 'Actualizar'}}">
      </div>
    </form>
  </div>
</ng-template>

<ng-template #content_estado let-modal>
  <div class="p-4 div-buscar d-flex mt-2">
    <h1 class="text-gray">Cambiando estado...</h1>
  </div>
</ng-template>

<ng-template #content_estado_resultado let-modal>
  <div class="p-4 div-buscar d-flex mt-2">
    <h1 class="text-gray">{{this.mensaje}}</h1>
  </div>
</ng-template>

<ng-template #content_completado let-modal>
  <div class="p-4 div-buscar d-flex mt-2">
    <h1 class="text-gray">Parámetro {{eventoParVal['estado'] === 'R' ? 'registrado' : 'actualizado'}}</h1>
  </div>
</ng-template>

<ng-template #content_mensaje let-modal>
  <div class="div-buscar mt-4 ml-4 mr-4">
    <h1 class="text-gray">{{this.mensaje}}</h1>
  </div>
  <div class="div-buscar mb-4 ml-4 mr-4">
    <button (click)="modal.dismiss('Cross click')" type="button" class="btn btn-outline-default">Cerrar</button>
  </div>
</ng-template>
