.cursor-pointer {
  cursor: pointer;
}

.text-color-grey {
  color: #ababab;
}

.text-color-grey:hover {
  color: var(--primary);
}

.box-shadow {
  box-shadow: -10px 10px 67px -12px #00000036;
}

.font-size-30 {
  font-size: 30px;
}

.me-0-5{
  margin: 0 0 0 0.5rem ;
}

.m-0_8{
  margin-top: 0.3rem;
}

.font-size-16{
  font-size: 16px;
}

